[Unit]
Description=server for website ygreens.ru
After=syslog.target

[Service]
User=ygreensru
ExecStart=/opt/microgreens.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target